:root{
  --color-primary :#0d6efd;
  --color-secondary :#212529;
  --color-grey-1 : #f5f5f5;
  --color-grey-2 : #dadada;
}

body{
  font-family: 'Gelasio', serif;
  font-size: 14px;
}

.navbar{
  border-bottom:
  1px solid var(--color-grey-2);
}

.mt-100{
  margin-top: 100px;
}

.btn-login{
  margin-left: 1rem;
}

.badge-notif{
  position: absolute;
  top: 0;
  right: -4px;
  font-size: 10px;
  padding: 2px 4px;
}

.category{
  
}

.category-list{
  display: flex;
  background-color: var(--color-grey-1);
  padding: 20px;
  border-radius: 20px;
  overflow-x: scroll;
}

.card-category{
  margin-right: 30px;
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.card-category img{
  width: 70px;
  margin-bottom: .5rem;
}

.product{
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-bottom: 16px;
  width: 155px;
}

.product-img{
  object-fit: cover;
  width: 100%;
  height: 155px;
}

.product-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;  
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 4px;
}
.product-body{
  padding: 8px;
  font-size: 12px;
}

.product-body p span{
  float: right;
}
.product-body h6{
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 12px;
}

.product:hover .product-bottom{
  visibility: visible;
  opacity: 1;
}
.product-bottom a, .product-bottom button{
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}
.product-bottom a:hover, .product-bottom button:hover{
  color: #0d6efd;
  background-color: #fff;
}

.product-btn{
  color: #ffffff;
  width: 40px;
  height: 35px;
  background-color: var(--color-primary);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  margin-top: 100px;
  border-top: 1px solid var(--color-grey-2);
  background-color: var(--color-grey-1);
  padding: 40px 20px;
}
footer h4{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  content: "";
  width: 40%;
  border-bottom: 2px solid var(--color-secondary);
  padding-bottom: 4px;
}
.footer-grup-icon{
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.footer-grup-icon .fa{
  padding: 8px 10px;
  margin-right: 8px;
  border: 1px solid var(--color-grey-2);
  color: var(--color-primary);
}

a.icon-link{
  text-decoration: none;
}

a.icon-link:hover, footer ul li a:hover{
  content: "";
  width: 40%;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 4px;
  color: var(--color-secondary);
}

footer ul li{
  list-style: none;
  margin-left: -30px;
  margin-bottom: 12px;
}

footer ul li a{
  text-decoration: none;
}

.header{
  margin: 0 24px;
  font-size: 16px;
}
.navbar-collapse{
  margin: 16px 0;
  content: "";
  border-top: 1px solid var(--color-grey-2);
}
.navbar-icon{
  display: flex;
  flex-direction: row;
  content: "";
  border-top: 1px solid var(--color-grey-2);
  padding: 16px 0;
}

.menu-icon{
  position: relative;
  margin-right: 16px;
  font-size: 20px;
  content: "";
  border-right: 1px solid var(--color-grey-2);
  padding: 0 16px;
}

.menu-icon:hover{
  background-color: var(--color-grey-2);
}

.navbar-toggler{
  font-size: 14px;
}

/* cara pembelian */
.bread{
  margin-top: 100px;
  margin-bottom: -50px;
  padding: 8px 16px;
  display: flex;
  justify-content: end;
  border: 1px solid var(--color-grey-2);
  border-radius: 8px;
  align-items: center;
  background-color: var(--color-grey-1);
}

.page-title{
  content: "";
  border-bottom: 1px solid var(--color-grey-2);
  font-size: 20px;
  margin: 20px 0;
  display: inline !important;
}

.breadcrumb{
  margin-top: 15px;
}

/* cart */
.table-box{
  margin-top: 25px;
  padding: 16px;
  border: 1px solid var(--color-grey-2);
  border-radius: 8px;
  overflow-x: scroll;
  box-sizing: border-box;
}

.pesanan-product{
  margin-top: 8px;
  padding: 8px;
  border: 1px solid var(--color-grey-2);
  border-radius: 8px;
  box-sizing: border-box;
}


.product-name{
  display: flex;
  align-items: flex-start;
}

.thumbnail{
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 4px;
}

.checkout{
  display: flex;
  justify-content: end;
  margin: 40px 0;
}
.checkout-border{
  border: 1px solid var(--color-grey-2);
  border-radius: 8px;
  padding: 10px 30px;
}
.checkout-group{
  display: flex;
  margin: 16px 0;
}
.checkout-group h4{
  font-size: 14px;
  margin-right: 8px;
}
.checkout-group p{
  font-weight: 600;
  margin-top: -4px;
}

.table-box table tr td{
  padding: 30px 10px;
}

/* Checkout */
.alamat{
  padding: 1rem 2rem;
}
.catatan{
  padding: 6px 8px;
  border: 1px solid var(--color-grey-2);
}
.table-opsi tr td{
  display: block;
  padding: 8px 0 !important;
  border: none;
}

/* Produk */
.side-kategori{
  padding: 20px;
}
.side-kategori ul li{
  margin-top: 8px;
}
.side-kategori ul li a{
  text-decoration: none;
}
.side-kategori ul li a:hover,a.btn-filter:hover{
  color: #000;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 4px;
}

a.btn-filter{
  text-decoration: none;
  margin-right: 8px;
}
.select-filter{
  border: 1px solid var(--color-grey-2);
  padding: 8px;
  font-size: 14px;
}

.pagination{
  margin-top: 4px;
  display: inline;
  background-color: var(--color-grey-2);
  padding: 8px 16px;
  border-radius: 4px;
}
.pagination a{
  text-decoration: none;
  padding: 8px;
}
.pagination a.active{
  border-bottom: 2px solid var(--color-primary);
}
.pagination a:hover{
  color: #000;
  border-bottom: 2px solid var(--color-primary);
}
.chat-floating{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btn-chat{
  border-radius: 50%;
  padding: 10px 13px ;
}

/* .chat-floating i{
  background-color: var(--color-primary);
  font-size: 18px;
  padding: 50%;
  color: #fff;
  border-radius: 50%;
} */

.form-control,.form-select,.dropdown-item{
  font-size: 14px;
}

/* chat */

.chat__side{
  height: 450px;
  overflow-y: scroll;
}
.chat__user:hover{
  background-color: #eaeaea;
}


.chat__user{
  padding: 10px;
  border-bottom: 1px solid #acacac;
  display: flex;
}
.chat__user.active{
  background-color: #eaeaea;
}
.chat__user__box{
  margin: 0 5px 0 10px;
  width: 100%;
}

.chat__user__box p{
  height: 18px;
  overflow-y: hidden;
}
.chat__user__box h4{
  font-size: 40px;
}
.chat__user__box-top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat__user__box-top h4{
  font-size: 14px !important;
  color: #000000;
  font-weight: bold;
}

.message{
  height: 400px;
  
  position: relative;
}
.message__display{
  height: 350px;
  overflow-y: scroll;
}

.message__tgl{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
}
.message__layout-from{
  display: flex;
  justify-content: start;
}
.message__layout-to{
  display: flex;
  justify-content: end;
  margin-right: 1rem;
}
.msg{
  font-size: 14px;
  padding:  25px 15px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 60%;
}
.message__tgl p{
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #eaeaea;  
  margin-bottom: 10px;
}
.message__from{
  position: relative;
  background-color: #eaeaea; 
}
.message__to{
  position: relative;
  background-color: #1ABB9C;
  color: #ffffff;
}

.option-from{
  color: #acacac;
  position: absolute;
  top: 10px;
  right: 15px;
}

.option-to{
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 15px;
}
.message_form{
  border-top: 1px solid #eaeaea;
  align-items: center;
  height: 50px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  z-index: 30;
}

.message_form .form-control{

  margin-right: 1rem;
}

/* login */
.login-img{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}
.login-img img{
  width: 100px;
  border-radius: 50%;
  border: 1px solid var(--color-grey-2);
  padding: 8px;
}
.login-title{
  margin: 30px 0;
}
.kategori-menu{
  margin-top: 15px;
  margin-bottom: -5px;
  
}

.kategori-menu li{
  list-style: circle;
  font-size: 13px;
  text-decoration: none;
  margin-top: -5px;
  margin-left: -5px;
}

@media only screen and (min-width: 768px) {

  .product-img{
    height: 165px;
  }
  /* Login */
  .login .table-box{
    padding: 20px 0 40px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .msg{
    width: 40%;
  }
  .pagination{
    margin-top: 0;
  }
  .chat-floating{
    position: fixed;
    bottom: 40px;
    right: 40px;
  }
  .table-opsi tr td{
    display: inline-block;
    padding: 16px !important;
    border: none;
  }
  .bread-title{
    font-size: 18px;
  }
  
  .header{
    margin: auto;
    font-size: 14px;
  }
  .navbar-collapse{
    margin: 0;
    border-top: none;
  }
  .navbar-icon{
    border-top: none;
    padding: 0;
  }
  
  .menu-icon{
    font-size: 14px;
    border-right: none;
    padding: 0 ;
  }

  
  
}