:root {
  --primary: #17153B;
  --secondary: #2E236C;
  --base: #433D8B;
  --accent: #C8ACD6;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  color: #e5e7eb;
  line-height: 1.7;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 24px;
}

section {
  padding: 100px 0;
}

.section-head {
  text-align: center;
  margin-bottom: 56px;
}

.section-head h2 {
  font-size: 36px;
}

.section-head p {
  color: #94a3b8;
  margin-top: 8px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--primary);
  z-index: 1000;
  border-bottom: 1px solid var(--base);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
}

nav h1 {
  font-size: 18px;
}

nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #cbd5f5;
  font-size: 14px;
}

@media(max-width:768px) {
  nav ul {
    display: none;
  }
}

/* HERO */
.hero {
  background: linear-gradient(10deg, var(--primary), var(--secondary)) ;
  padding-top: 140px;
}

.hero-content {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  gap: 56px;
  align-items: center;
}

.hero h2 {
  font-size: 42px;
  line-height: 1.3;
}

.hero p {
  margin-top: 20px;
  color: #cbd5f5;
}

.hero .cta {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn {
  padding: 14px 28px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.btn-primary {
  background: var(--base);
  color: #fff;
}

.btn-secondary {
  border: 2px solid var(--base);
  color: #fff;
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: .9;
}


.hero img {
  width: 100%;
  border-radius: 24px;
}

@media(min-width:768px) {
  .hero-content {
    grid-template-columns: 1.2fr 1fr;
    text-align: left;
  }

  .hero h2 {
    font-size: 64px;
  }

  .hero .cta {
    justify-content: start;
  }

}

/* ABOUT */
.about {
  background: var(--secondary);
}

.about-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  align-items: center;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

.about ul {
  margin-top: 20px;
  padding-left: 18px;
  color: #cbd5f5;
}

.about img {
  width: 100%;
  border-radius: 20px;
}

@media(min-width:768px) {
  .about h2 {
    font-size: 42px;
  }

  .about-content {
    grid-template-columns: 1fr 1fr;
  }
}

/* SKILLS */
.skills {
  background: var(--primary);
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.card {
  padding: 32px;
  border-radius: 20px;
  text-align: center;
}

.card {
  background: var(--secondary);
  box-shadow: 4px 4px 8px #00000025;
}

.card i {
  font-size: 32px;
  margin-bottom: 16px;
  color: #818cf8;
}

@media(min-width:768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* GALLERY */
.gallery {
  background: var(--secondary);
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 16px;
  cursor: pointer;
}

@media(min-width:768px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* CONTACT */
.contact {
  background: var(--primary);
}

.contact-box {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

.contact i {
  width: 24px;
  height: 24px;
  font-size: 20px;
  color: #818cf8;
}

.info-box h2,
.sosmed-box h2 {
  margin-bottom: 16px;
  font-size: 20px;
}

.info,
.sosmed {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-box {
  padding: 24px;
  border-radius: 20px 20px 0 0;
  background-color: var(--secondary);
}

.sosmed-box {
  padding: 24px;
  border-radius: 0 0 20px 20px;
  background-color: var(--base);
}

.sosmed a {
  text-decoration: none;
  color: white;
}

.sosmed a:hover {
  text-decoration: underline;
}

@media(min-width:768px) {
  .contact-box {
    grid-template-columns: 1fr 1fr;
  }

  .info-box {
    border-radius: 20px 0 0 20px;
  }

  .sosmed-box {
    border-radius: 0 20px 20px 0;
  }
}

/* FOOTER */
footer {
  background: var(--secondary);
  text-align: center;
  padding: 32px;
  font-size: 14px;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(2, 6, 23, .85);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 16px;
}